<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-box">
        <img src="../../assets/avatar.png" class="avatar">
        <h1 style="text-transform: uppercase;text-shadow: 2px 2px 4px #000000;">Bank Login</h1>
        <form (ngSubmit)="login()">
            <p>Account Number</p>
            <input type="text" name="accNo"  placeholder="Enter AccNo" id="acid" [(ngModel)]="acno" >
            <p>Password</p>
            <input type="password" name="password"  placeholder="Enter Password" id="pid" [(ngModel)]="psw" >
            <input type="submit" name="submit" value="Login" (click)="login()">
            <a routerLink="register">Register Account</a>    
        </form>           
    </div>
</body>
</html>
