/* You can add global styles to this file, and also import other style files */
body{
    background:url(./assets/pound-414418_1920.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}